.link__container {
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
}
.link {
  padding: 5px 13px;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.14;
  color: $color-light;
  background-color: $bg-link;
  box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.15);
  border-radius: 10px;
}
