.header {
  padding: 12px 0 22px 0;
  background-color: $bg-header;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}
.navigation {
  display: flex;
  align-items: center;
  color: $text-primary;
}
.navigation__link {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.16;
}
