$bg-header: #fefefe;
$bg-primary: #eef5ff;
$bg-link: #67bfff;
$bg-button-delete: #eb5050;

$text-primary: #3260a1;
$color-light: #ffffff;
$color-dark: #000000;
$color-dark-light: #222222;

$input-border-color: #e5e5e5;
