.page-title {
  &.visually-hidden {
    @include visually-hidden;
  }
}

.articles {
  min-height: 100vh;
  padding-top: 4.5rem;
  padding-bottom: 10rem;
  background-color: $bg-primary;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 270px;
  column-gap: 3rem;
  row-gap: 5rem;
}
