.new-article {
  height: 100%;
  padding: 30px 0 100px;
  background-color: $bg-primary;
}

.section-title {
  @include visually-hidden;
}

.new-article__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  margin: 90px auto 0;
  padding: 30px;
  border-radius: 15px;
  background-color: $color-light;
  box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.55);
}

.label {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.16;
  color: $color-dark-light;
}

.input {
  padding: 10px 5px;
  border: 1px solid $input-border-color;
  border-radius: 5px;
  color: $color-dark-light;

  &:focus {
    outline: 1px solid $input-border-color;
  }

  &::placeholder {
    opacity: 0.8;
  }
}

.input--invalid {
  border: 1px solid $bg-button-delete;
}

.textarea {
  resize: none;
}

.error {
  position: absolute;
  right: 0;
  bottom: -20px;
  color: $bg-button-delete;
}
