.button {
  @include flex-center;
  width: 139px;
  padding: 12px 38px;
  box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.15);
  background-color: $bg-link;
  border-radius: 10px;
  letter-spacing: 0.07rem;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.75);

    .button__text {
      animation: letter-space 1s forwards;
    }
  }
}

.button__text {
  color: $color-light;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.14;
}

@keyframes letter-space {
  0% {
    letter-spacing: 0.07rem;
  }
  50% {
    letter-spacing: 0.5em;
  }
  100% {
    letter-spacing: 0.07rem;
  }
}
