.article {
  height: 100%;
  padding: 30px 0 100px;
  background-color: $bg-primary;
}

.section-title {
  @include visually-hidden;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  margin-top: 50px;
  padding: 35px 35px 56px;
  background-color: $bg-header;
  border-radius: 15px;
}

.content__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.16;
  color: $text-primary;
}

.content__body {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.16;
}

.content__image {
  align-self: center;
}

.article__button {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
