.article-section {
  min-height: 100vh;
  padding: 30px 0 100px;
  background-color: $bg-primary;
}

.section-title {
  @include visually-hidden;
}

.article {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 25px;
  margin-top: 50px;
  padding: 35px 35px 56px;
  background-color: $bg-header;
  border-radius: 15px;

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.content__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.16;
  color: $text-primary;
}

.content__body {
  height: 100%;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.16;
  resize: none;
  border: none;
  margin-bottom: 15px;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    background-color: $input-border-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-dark-light;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: padding-box;
  }
}

.time {
  margin-top: auto;
  color: $color-dark-light;
  font-style: italic;

  .time_create {
    font-weight: 500;
  }
}

.image__container {
  position: relative;
  width: 80%;
  min-height: 300px;
  place-self: center;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;

  &:hover :last-child {
    bottom: 0;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.article__button {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
